<!DOCTYPE html>
<html>
<head>
  <title>Campus Info</title>
</head>
<body>
  <h1>Campus Info</h1>
    <ul>
      <% @students.each do |student| %>
        <li><%= student['name'] %>, <%= student['campus'] %></li>
      <% end %>
    </ul>

</body>
</html>